<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <script src="{{ url_for('static', filename='js/background.js') }}"></script>
  {% block styles %}
  {% endblock %}
  <title>Sebastian Oracle Tarot</title>
</head>

<body>
  <header>
    <ul id="slide-out" class="sidenav blue-grey darken-4">
      {% if session.user %}
      <li>
        <div class="user-view">
            <a href="#name"><span class="grey-text text-lighten-3 name">{{ logged_in_user.first_name }} {{ logged_in_user.last_name }}</span></a>
            <a href="#email"><span class="grey-text text-lighten-3 email">{{ logged_in_user.email }}</span></a>
        </div>
      </li>
      <li><a href="{{ url_for('get_cards') }}" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">home</i>Home</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="{{ url_for('profile', email=session['user']) }}" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">account_circle</i>Profile</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="#" class="grey-text text-lighten-3"><i class="material-icons grey-text text-lighten-3">save</i>Saved
          Readings</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="#" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">border_color</i>Journal</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="{{ url_for('logout') }}" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">close</i>Log Out</a></li>
      <li>
        <div class="divider"></div>
      </li>
      {% else %}
      <li><a href="{{  url_for('login') }}" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">all_inclusive</i>Log In</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="{{ url_for('register') }}" class="grey-text text-lighten-3"><i
            class="material-icons grey-text text-lighten-3">add</i>Register</a></li>
      <li>
        {% endif %}
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons custom-hamburger">menu</i></a>
  </header>

  <section>
    <!-- Flash Message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
      <h4 class="center-align grey-text text-lighten-5">{{ message}}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>