{% extends "base.html" %}
{% block content %}
<div class="container index-page">
    <div class="row">
        <div class="col m12 l6">
            <img class="home-img" src="{{ url_for('static', filename='images/tarot-reader-v6.jpg') }}" alt="Tarot Reader">
        </div>
        <div class="col m12 l6">
            <div class="row">
                <div class="col s12">
                    <h1 class="blue-grey-text text-lighten-5">Select a Category</h1>
                    <form id="tarot-form">
                        <div class="input-field col s12">
                            <select id="tarot_choice" name="tarot_choice" class="light-text" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="General">General</option>
                                <option value="Love">Love</option>
                                <option value="Career">Career</option>
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="question" name="question" class="materialize-textarea blue-grey-text text-lighten-5" required></textarea>
                            <label for="question" class="blue-grey-text text-lighten-5">Think of an open-ended question to ask.</label>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <button class="btn waves-effect waves-light" type="submit">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                            <div class="col s6">
                                <button class="btn waves-effect waves-light right" type="reset">Clear
                                    <i class="material-icons right">autorenew</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">  
            <p class="blue-grey-text text-lighten-5">
                Hello my child, step into a world of mysticism with my tarot reading app. With over a decade of experience, I'm excited
                to bring my craft online, offering profound insights into your life's journey. My app features three tailored
                spreads: a Three-Card Spread for love enquiries, a Five-Card Spread for career questions, and a Four-Element Spread
                for a holistic view of your life.
            </p>
            <p class="blue-grey-text text-lighten-5">
                Each reading is enriched with personalised insights drawn from your name, date of birth, time of birth, and birth
                location, stored in your user profile. These details create a deeper connection between you and the cosmic energies,
                offering a uniquely personalised reading. The app also integrates astrological wisdom to enhance the tarot's
                mystical guidance.
            </p>
            <p class="blue-grey-text text-lighten-5">
                As you journey through your reading, you can save your insights and journal your reflections. This feature helps you
                express your thoughts and foster personal growth. Embrace the mystery and let me, Sebastian Oracle, guide you
                through the whispers of the tarot.
            </p>
        </div>
    </div>
</div>
{% endblock %}
