{% extends "base.html" %}
{% block content %}
<div class="container profile-page">
    <h1 class="center-align grey-text text-lighten-5">Profile Page</h1>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5">First Name:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5">{{ user.first_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5">Last Name:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5">{{ user.last_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5 email-title">Email Address:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5 email-container">
                        {{ user.email }}
                        <a href="{{ url_for('update_email_page', email=user.email) }}">
                            <i class="material-icons tooltipped" data-position="right" data-tooltip="Update Email Address">edit</i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5">Date of Birth:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5">{{ user.date_of_birth }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5">Time of Birth:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5">{{ user.time_of_birth }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="right-align grey-text text-lighten-5">Place of Birth:</p>
                </div>
                <div class="col s6">
                    <p class="left-align grey-text text-lighten-5">{{ user.place_of_birth }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light red delete-account-btn">Delete Account</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Account Modal Structure -->
    <div id="delete-account-modal" class="modal">
        <div class="modal-content">
            <h4>Confirm Account Deletion</h4>
            <p>Are you sure you want to delete your account? This action cannot be undone.</p>
            <p>Please type <strong>DELETE</strong> to confirm.</p>
            <input type="text" id="delete-account-confirmation" placeholder="Type DELETE to confirm">
        </div>
        <div class="modal-footer">
            <button id="confirm-delete-account-btn" class="modal-close waves-effect waves-green btn-flat" disabled>Delete</button>
            <button class="modal-close waves-effect waves-red btn-flat">Cancel</button>
        </div>
    </div>
</div>
{% endblock %}
