{% extends "base.html" %}
{% block content %}


<div class="container reading-page">
    <h1 class="center-align grey-text text-lighten-5">Your Tarot Reading</h1>
    <div class="row">
        {% for card in cards %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ card.cardImg }}" alt="{{ card.cardName }}">
                </div>
                <div class="card-content">
                    <p class="center-align">{{ card.cardName }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align grey-text text-lighten-5">Reading Output</h2>
            <p class="grey-text text-lighten-5">{{ reading_output }}</p>
        </div>
    </div>
</div>

    <!-- {% for card in cards %}
        <div>
            <h2>{{ card.cardName }}</h2>
            <img src="{{ card.cardImg }}" alt="{{ card.cardName }}" >
        </div>
    {% endfor %} -->

{% endblock %}