{% extends "base.html" %}
{% block content %}


<div class="container reading-page">
    <h1 class="center-align grey-text text-lighten-5">Your Tarot Reading</h1>
    <div class="center-align">
        <img src="{{ url_for('static', filename='images/giphy.webp') }}" alt="Shuffling cards" id="shuffling-image">
        <p>Keep thinking about your question while I'm shuffling the cards...</p>
    </div>
    <div id="reading-result" style="display:none;">
        <div class="row" id="cards-container">
            <!-- Cards will be appended here by JavaScript -->
        </div>
        <div class="row">
            <div class="col s12">
                <p class="grey-text text-lighten-5" id="reading-output"></p>
            </div>
        </div>
    </div>
</div>

    <!-- {% for card in cards %}
        <div>
            <h2>{{ card.cardName }}</h2>
            <img src="{{ card.cardImg }}" alt="{{ card.cardName }}" >
        </div>
    {% endfor %} -->

{% endblock %}